@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Authorization success</h1>
<hr />
<h3>@ViewBag.apiResponseMessage</h3>
<a asp-controller="Home" asp-action="Logout">Logout</a>